body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    margin: 0px;
    background-image: url(../images/gravel.png);
    position: relative;
    min-height: 100vh;
}

h1, h2, .project span {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

img {
    float: left;
}

header {
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    overflow-y: auto;
    margin: 0em 0em 1em 0em;
    padding: 0em;
    background-color: white;
}

section,
#inside-header {
    margin-left: auto;
    margin-right: auto;
}

#inside-header {
    width: 994px;
    position: relative;
}

nav {
    position: absolute;
    float: right;
    right: 0px;
    top: 2em;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    list-style-position: inside;
    list-style: none;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    color: #777; 
    padding: 1em 2em 1em 2em;
}

li a:hover,
a.selected,
input[type="submit"],
.project span {
    background-color: #4aaaa5;
    color:white; 
}

header h1 {
    background: #4aaaa5;
    color: white;
    float: left;
    padding: 0.75em;
    margin: 0em;
}

section {
    width: 960px;
    border-width: thin;
    padding: 1em;
    border-color: #ddd;
    border-style: solid;
    background-color: white;
    overflow: auto;
}

section hr {
    margin-bottom: 1em;
}

section img {
    width: 200px;
    margin: 0em 1em 1em 0em;
}

section a:visited,
section a:hover,
section a:active {
    color: #777;
}

#footer-space {
    padding: 3em;
}

footer {
    border-top-style: solid;
    border-top-color: #4aaaa5;
    text-align: center;
    background: #666;
    padding-top: 2em;
    border-top-width: 0.5em;
    padding-bottom: 0.5em;
    color: white;
    font-size: small;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

section h2 {
    color: #4aaaa5;
    margin: 0em 0em 0.75em 0em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

/* contact page specific css */

form {
    width: 960px;
}

label,
input,
textarea{
    display: block;
    width: 100%;
    line-height: 1.5em;
    width: 955px;
}

label {
    margin-bottom: 0.25em;
}

input {
    margin-bottom: 1em;
    padding: 0.5em 0em 0.5em 0em;
    font-size: 0.75em;
}

textarea {
    font-size: 1em;
    margin-bottom: 1em;
    resize:none;
}

input[type="submit"] {
    margin-bottom: 0em;
    font-size: 1em;
    display: block;
    width: 10%;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

/* portfolio page specific css */

.project {
    width: 275px;
    height: 200px;
    margin: 2em;
    float: left;
}

.project span {
    display: block;
    text-align: center;
    position: relative;
    top: 6.5em;
    padding: 0.75em 0em 0.75em 0em;
    font-size: 1.2em;
}

#hangman {
    background-image: url(../images/hangman.jpg);
}

#rpg-game {
    background-image: url(../images/rpg-game.jpg);
}

#trivia {
    background-image: url(../images/trivia.jpg);
}

#widget {
    background-image: url(../images/widget.jpg);
}

#rps {
    background-image: url(../images/rps.jpg);
}